/*  your css code here. If applicable */
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
	flex-direction:column;
}

.progress-bar {
	position:absolute;
	top:50%;
	left:0;
	width:0%;
	height:6px;
	background-color:#3498dd;
	z-index:-1;
	transition:width 0.4s ease;
	transform:translateY(-50%);

    /* display: flex;
    align-items: center;
    margin-bottom: 20px; */
}

.container {
    display: flex;
	justify-content: space-between;
	position:relative;
	width:80%;
	max-width:600px;
    margin-bottom: 30px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
	display:flex;
	justify-content:center;
	align-items:center;
    /* /* margin: 0 10px; */
    transition: 3px solid transparent;
	border: 3px solid transparent;
}

.circle.active {
    border: 3px solid #3498dd;
	background-color:white;
	color:grey;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}